<!DOCTYPE html>
<html lang="en">
  <head> {{>headerlinks}}
    <link rel="stylesheet" href="css/aboutStyle.css">
  </head>
 
  <body>
    {{>navbar}}

    <section class="d-flex flex-wrap container">
        <div class="col-lg-6 col-md-12 RightSection">
            <figure>
              <img
                src="./images/aaron-burden-6jYoil2GhVk-unsplash-removebg-preview.png"
                alt="This boy study in garden"
              />
            </figure>
          </div>
      <div class="col-lg-6 col-md-12">
        <article class="AboutleftSection">
          <p>Welcome to the weather app</p>
          <h1>I Am Rohit Sharma <br/><span>As a</span><br/><span>Mean Stack Developer</span> <br/>Info of your city Weather</h1>
          <a href="/weather"><button>Get Weather</button></a>
        </article>
      </div>

     
    </section>
     {{>footer}}
  </body>
</html>
