<!DOCTYPE html>
<html lang="en">
<head> 
   {{>headerlinks}}

</head>
  <body>
    {{>navbar}}

    <section class="d-flex flex-wrap container">
      <div class="col-lg-6 col-md-12">
        <article class="leftSection">
          <p>Welcome to the weather app</p>
          <h1>get to the latest <span>Weather</span> Info of your city</h1>
          <a href="/about"
            ><button >Get About</button></a
          >
        </article>
      </div>

      <div class="col-lg-6 col-md-12 RightSection">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel" 
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/img1.gif" class="d-block w-100    imgCarousel" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="./images/img2.webp" class="d-block w-100 imgCarousel" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="./images/img3.webp" class="d-block w-100 imgCarousel" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>
   {{>footer}}
  </body>
</html>
